*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #87f8;
}

.container{
  max-width: 900px;
  margin: 10px auto;
  padding: 20px;
  background-color: #87f;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 4px;
}

.titulo{
  font-size: 2.5rem;
  border-bottom: 4px solid;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.perguntas-container{
  position: relative;
}

.perguntas{
  width: 700px;
  margin: 0 auto 20px auto;
  text-align: center;
  background-color: #0005;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.pergunta-titulo{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.pergunta-btn{
  display: block;
  padding: 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}


.load{
  width: 700px;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.load::before{
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: red;
  margin-left: -100%;
  transition: all 10s forwards;
}
.load.active::before{
  margin-left: 0;
}

.infos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infos p, .infos span{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.comecar button{
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 2rem;
  border: 5px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}


@media screen and (max-width: 700px) {
  .container{
    max-width: 100%;
  }
  .perguntas{
    width: 100%;
  }
  .perguntas .pergunta-titulo{
    font-size: 16px;
  }
  .infos p{
    font-size: 14px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 2px;
  }
  .pergunta-btn{
    font-size: 1rem;
  }
}